In [1]:
import pandas as pd
import boto3
import io
from pathlib import Path

# S3 configuration
s3_bucket = "commercial-rates"  # or use os.getenv('S3_BUCKET')
s3_prefix = "tic-mrf"
specific_fact_table = "/consolidated/centene_fidelis/fact_tables/memory_efficient_fact_table_20250802_183825.parquet"      # or use os.getenv('S3_PREFIX')
s3_key = f"{s3_prefix}{specific_fact_table}"  
# Initialize S3 client
s3_client = boto3.client('s3')

try:
    # Get object from S3
    response = s3_client.get_object(Bucket=s3_bucket, Key=s3_key)
    
    # Read parquet directly from memory buffer
    df = pd.read_parquet(io.BytesIO(response['Body'].read()))
    
    # Basic info
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024 / 1024:.1f} MB")
    print(f"Successfully loaded from s3://{s3_bucket}/{s3_key}")

    # Show first few rows
    df.head()
    
except Exception as e:
    print(f"Error loading from S3: {str(e)}")

Shape: (658968, 54)
Columns: ['rate_uuid', 'payer_uuid', 'organization_uuid', 'service_code', 'service_description', 'billing_code_type', 'negotiated_rate', 'billing_class', 'rate_type', 'service_codes', 'plan_details', 'contract_period', 'provider_network', 'geographic_scope', 'data_lineage', 'created_at', 'updated_at', 'quality_flags', 'rate_npis', 'tin', 'organization_name', 'organization_type', 'parent_system', 'npi_count', 'primary_specialty', 'is_facility', 'headquarters_address', 'service_areas', 'created_at_org', 'updated_at_org', 'data_quality_score', 'npi', 'nppes_provider_type', 'nppes_primary_specialty', 'nppes_gender', 'nppes_addresses', 'nppes_credentials', 'nppes_provider_name', 'nppes_enumeration_date', 'nppes_last_updated', 'nppes_secondary_specialties', 'nppes_metadata', 'nppes_city', 'nppes_state', 'nppes_zip', 'nppes_country', 'nppes_street', 'nppes_phone', 'nppes_fax', 'nppes_address_type', 'nppes_address_purpose', 'rate_category', 'service_category', 'fact_key']
Memory usage: 2739.8 MB
Successfully loaded from s3://commercial-rates/tic-mrf/consolidated/centene_fidelis/fact_tables/memory_efficient_fact_table_20250802_183825.parquet

inspect the s3 fact table

In [2]:
display(df)

,rate_uuid,payer_uuid,organization_uuid,service_code,service_description,billing_code_type,negotiated_rate,billing_class,rate_type,service_codes,...,nppes_zip,nppes_country,nppes_street,nppes_phone,nppes_fax,nppes_address_type,nppes_address_purpose,rate_category,service_category,fact_key
0,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,,,,,,,,$100-500,Anesthesia,e3c8d609-3a64-5b33-883c-c2c5cd28a536_1063497451
1,07e8e88a-6024-51cc-b909-9a4b0f599391,db18448f-0a71-51f8-9a6d-351171089123,b80c7d56-1b11-57a6-8d05-769f3e7727d5,0240U,NFCT DS RNA 3 TARGETS UPPER RESPIRATORY SPECIMEN,HCPCS,121.23,professional,negotiated,[11],...,,,,,,,,$100-500,Anesthesia,07e8e88a-6024-51cc-b909-9a4b0f599391_1598363459
2,07e8e88a-6024-51cc-b909-9a4b0f599391,db18448f-0a71-51f8-9a6d-351171089123,b80c7d56-1b11-57a6-8d05-769f3e7727d5,0240U,NFCT DS RNA 3 TARGETS UPPER RESPIRATORY SPECIMEN,HCPCS,121.23,professional,negotiated,[11],...,,,,,,,,$100-500,Anesthesia,07e8e88a-6024-51cc-b909-9a4b0f599391_1124229893
3,07e8e88a-6024-51cc-b909-9a4b0f599391,db18448f-0a71-51f8-9a6d-351171089123,b80c7d56-1b11-57a6-8d05-769f3e7727d5,0240U,NFCT DS RNA 3 TARGETS UPPER RESPIRATORY SPECIMEN,HCPCS,121.23,professional,negotiated,[11],...,,,,,,,,$100-500,Anesthesia,07e8e88a-6024-51cc-b909-9a4b0f599391_1336111780
4,07e8e88a-6024-51cc-b909-9a4b0f599391,db18448f-0a71-51f8-9a6d-351171089123,b80c7d56-1b11-57a6-8d05-769f3e7727d5,0240U,NFCT DS RNA 3 TARGETS UPPER RESPIRATORY SPECIMEN,HCPCS,121.23,professional,negotiated,[11],...,,,,,,,,$100-500,Anesthesia,07e8e88a-6024-51cc-b909-9a4b0f599391_1619156874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658963,f89b2298-9c9e-5b47-b4a0-7520f8b19620,db18448f-0a71-51f8-9a6d-351171089123,d4804463-d942-5148-896b-86493c73a156,95800,"SLEEP STUDY, UNATTENDED, SIMULTANEOUS RECORDIN...",CPT,263.43,professional,negotiated,[12],...,,,,,,,,$100-500,Medicine,f89b2298-9c9e-5b47-b4a0-7520f8b19620_1154820231
658964,f89b2298-9c9e-5b47-b4a0-7520f8b19620,db18448f-0a71-51f8-9a6d-351171089123,d4804463-d942-5148-896b-86493c73a156,95800,"SLEEP STUDY, UNATTENDED, SIMULTANEOUS RECORDIN...",CPT,263.43,professional,negotiated,[12],...,,,,,,,,$100-500,Medicine,f89b2298-9c9e-5b47-b4a0-7520f8b19620_1477547321
658965,d8ac9b4a-6f9d-51db-a10b-bc144808fce7,db18448f-0a71-51f8-9a6d-351171089123,423054f9-254b-56a6-a849-c3dbf9577067,95800,"SLEEP STUDY, UNATTENDED, SIMULTANEOUS RECORDIN...",CPT,263.43,professional,negotiated,[12],...,,,,,,,,$100-500,Medicine,d8ac9b4a-6f9d-51db-a10b-bc144808fce7_1407250913
658966,d8ac9b4a-6f9d-51db-a10b-bc144808fce7,db18448f-0a71-51f8-9a6d-351171089123,423054f9-254b-56a6-a849-c3dbf9577067,95800,"SLEEP STUDY, UNATTENDED, SIMULTANEOUS RECORDIN...",CPT,263.43,professional,negotiated,[12],...,,,,,,,,$100-500,Medicine,d8ac9b4a-6f9d-51db-a10b-bc144808fce7_1245619345
658967,6330d483-361b-5592-aa21-b6cf0ffe8f1c,db18448f-0a71-51f8-9a6d-351171089123,dd1517bd-11ad-5d68-a846-cac22f697a94,95800,"SLEEP STUDY, UNATTENDED, SIMULTANEOUS RECORDIN...",CPT,263.43,professional,negotiated,[12],...,,,,,,,,$100-500,Medicine,6330d483-361b-5592-aa21-b6cf0ffe8f1c_1386656494

In [6]:
import ast
import numpy as np
# Cell 2 — Parse the `nppes_addresses` JSON‑like strings
# this creates a column of Python lists of dicts

# First convert numpy array strings to regular list strings
def convert_array_to_list(x):
    if isinstance(x, str):
        # Remove 'array(' prefix and dtype=object) suffix if present
        x = x.replace('array(', '').replace(', dtype=object)', '')
        # Now it should be a regular list string that ast.literal_eval can handle
        return ast.literal_eval(x)
    return x

df['nppes_address_list'] = df['nppes_addresses'].apply(convert_array_to_list)

# check you got lists
df['nppes_address_list'].head()

0    [{'city': 'RARITAN', 'country': 'United States...
1    [{'city': 'GREAT NECK', 'country': 'United Sta...
2    [{'city': 'NEW HYDE PARK', 'country': 'United ...
3    [{'city': 'WOODBURY', 'country': 'United State...
4    [{'city': 'NEW HYDE PARK', 'country': 'United ...
Name: nppes_address_list, dtype: object

In [7]:
# Cell 3 — Normalize out the first address in each list
# (if you have multiple addresses per provider, you can explode first)
address_df = pd.json_normalize(
    df['nppes_address_list'].apply(lambda lst: lst[0] if lst else {})
)

# prefix the columns so it’s clear where they came from
address_df = address_df.add_prefix('nppes_address_')

# attach back onto your main DataFrame
df = pd.concat([df, address_df], axis=1)

# inspect the new columns
df.filter(like='nppes_address_').head(1)

,nppes_address_type,nppes_address_purpose,nppes_address_list,nppes_address_city,nppes_address_country,nppes_address_fax,nppes_address_phone,nppes_address_purpose,nppes_address_state,nppes_address_street,nppes_address_type,nppes_address_zip
0,,,"[{'city': 'RARITAN', 'country': 'United States...",RARITAN,United States,,800-631-5250,LOCATION,NJ,69 1ST AVE,DOM,088691800

In [8]:
# Cell 4 — Cleanup helper cols
# if you no longer need the raw list:
df = df.drop(columns=['nppes_address_list'])

# and if you want you can also drop the original string field:
# df = df.drop(columns=['nppes_addresses'])

df.head(1)

,rate_uuid,payer_uuid,organization_uuid,service_code,service_description,billing_code_type,negotiated_rate,billing_class,rate_type,service_codes,...,fact_key,nppes_address_city,nppes_address_country,nppes_address_fax,nppes_address_phone,nppes_address_purpose,nppes_address_state,nppes_address_street,nppes_address_type,nppes_address_zip
0,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,e3c8d609-3a64-5b33-883c-c2c5cd28a536_1063497451,RARITAN,United States,,800-631-5250,LOCATION,NJ,69 1ST AVE,DOM,088691800

In [10]:
# Cell 6 — Parse `nppes_provider_name` (dict) into parts
# -------------------------------------------------------

# The data is already in dictionary format, so we can normalize it directly
provider_name_df = pd.json_normalize(df['nppes_provider_name'])

# prefix the columns so you know their origin
provider_name_df = provider_name_df.add_prefix('nppes_provider_')

# join back onto the main DataFrame
df = pd.concat([df, provider_name_df], axis=1)

# inspect
df.filter(like='nppes_provider_').head(1)

,nppes_provider_type,nppes_provider_name,nppes_provider_first,nppes_provider_last,nppes_provider_middle,nppes_provider_suffix
0,Organization,"{'first': '', 'last': '', 'middle': '', 'suffi...",,,,

In [11]:
# Cell 7 — Add a constant column
df['payer_name'] = 'Centene_Fidelis'

# verify
df[['payer_name']].head()

        payer_name
0  Centene_Fidelis
1  Centene_Fidelis
2  Centene_Fidelis
3  Centene_Fidelis
4  Centene_Fidelis

In [12]:
display(df.head(1))

,rate_uuid,payer_uuid,organization_uuid,service_code,service_description,billing_code_type,negotiated_rate,billing_class,rate_type,service_codes,...,nppes_address_purpose,nppes_address_state,nppes_address_street,nppes_address_type,nppes_address_zip,nppes_provider_first,nppes_provider_last,nppes_provider_middle,nppes_provider_suffix,payer_name
0,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,LOCATION,NJ,69 1ST AVE,DOM,088691800,,,,,Centene_Fidelis

walk in zip to cbsa code xwalk

In [13]:
# replace the path with wherever your .xlsx lives
zip_xwalk = pd.read_excel(r"C:\Users\ChristopherCato\Downloads\ZIP_CBSA_062025.xlsx", 
                            # or whatever sheet you need
                          engine='openpyxl',
                          converters={'ZIP': lambda x: str(x).zfill(5)},)     # necessary if you haven’t installed xlrd >2.0

# inspect the first few rows
zip_xwalk.head()

,ZIP,CBSA,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
0,00501,35620,HOLTSVILLE,NY,0.000000,1.000000,0.000000,1.000000
1,00601,99999,ADJUNTAS,PR,0.997452,0.994937,0.987805,0.997052
2,00601,29720,ADJUNTAS,PR,0.002548,0.005063,0.012195,0.002948
3,00602,10380,AGUADA,PR,1.000000,1.000000,1.000000,1.000000
4,00603,10380,AGUADILLA,PR,1.000000,1.000000,1.000000,1.000000

walk in cbsa title to cbsa code xlsx

In [14]:
# replace the path with wherever your .xlsx lives
cbsa_xwalk = pd.read_excel(r"C:\Users\ChristopherCato\Downloads\cbsa_codes.xlsx", 
                            # or whatever sheet you need
                          engine='openpyxl')     # necessary if you haven’t installed xlrd >2.0

# inspect the first few rows
cbsa_xwalk.head()

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,13,Central
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,45,Outlying
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,27,Central
3,10180,NaN,101.0,"Abilene, TX",Metropolitan Statistical Area,NaN,"Abilene-Sweetwater, TX",Callahan County,Texas,48,59,Outlying
4,10180,NaN,101.0,"Abilene, TX",Metropolitan Statistical Area,NaN,"Abilene-Sweetwater, TX",Jones County,Texas,48,253,Outlying

merge the two cbsa files

In [15]:
merged_cbsa = pd.merge(zip_xwalk, cbsa_xwalk, left_on='CBSA', right_on='CBSA Code', how='inner')
merged_cbsa.head()

,ZIP,CBSA,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,00501,35620,HOLTSVILLE,NY,0.0,1.0,0.0,1.0,35620,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Middlesex County,New Jersey,34,23,Central
1,00501,35620,HOLTSVILLE,NY,0.0,1.0,0.0,1.0,35620,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Monmouth County,New Jersey,34,25,Central
2,00501,35620,HOLTSVILLE,NY,0.0,1.0,0.0,1.0,35620,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Ocean County,New Jersey,34,29,Central
3,00501,35620,HOLTSVILLE,NY,0.0,1.0,0.0,1.0,35620,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Somerset County,New Jersey,34,35,Central
4,00501,35620,HOLTSVILLE,NY,0.0,1.0,0.0,1.0,35620,35004.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Nassau County-Suffolk County, NY","New York-Newark, NY-NJ-CT-PA",Nassau County,New York,36,59,Central

join in cbsa to full df

In [16]:
# 1) make a 5‑char key on df1
df['zip5_key'] = df['nppes_address_zip'].str[:5]

# 2) left‑join on that vs. df2.zip5
merged_rates = pd.merge(
    df,
    merged_cbsa,
    left_on='zip5_key',
    right_on='ZIP',
    how='left',
    suffixes=('_l','_r')
)
merged_rates.head(10)

,rate_uuid,payer_uuid,organization_uuid,service_code,service_description,billing_code_type,negotiated_rate,billing_class,rate_type,service_codes,...,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Middlesex County,New Jersey,34.0,23.0,Central
1,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Monmouth County,New Jersey,34.0,25.0,Central
2,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Ocean County,New Jersey,34.0,29.0,Central
3,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Somerset County,New Jersey,34.0,35.0,Central
4,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Nassau County-Suffolk County, NY","New York-Newark, NY-NJ-CT-PA",Nassau County,New York,36.0,59.0,Central
5,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Nassau County-Suffolk County, NY","New York-Newark, NY-NJ-CT-PA",Suffolk County,New York,36.0,103.0,Central
6,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Newark, NJ","New York-Newark, NY-NJ-CT-PA",Essex County,New Jersey,34.0,13.0,Central
7,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Newark, NJ","New York-Newark, NY-NJ-CT-PA",Hunterdon County,New Jersey,34.0,19.0,Outlying
8,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Newark, NJ","New York-Newark, NY-NJ-CT-PA",Morris County,New Jersey,34.0,27.0,Central
9,e3c8d609-3a64-5b33-883c-c2c5cd28a536,db18448f-0a71-51f8-9a6d-351171089123,886f0858-bfcf-5f1f-8826-b353f029101a,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],...,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Newark, NJ","New York-Newark, NY-NJ-CT-PA",Sussex County,New Jersey,34.0,37.0,Outlying

review metrics on cpts, specialty and region

In [21]:
cpt_count_df = df.groupby(['service_code', 'service_description']).size().reset_index(name='count')

cpt_count_df = cpt_count_df.sort_values(by='count', ascending=False)

display(cpt_count_df)

     service_code                                service_description  count
2429        99214  OFFICE OR OTH OUTPATIENT VISIT FOR THE EVALUAT...  12170
2081        90837             PSYCHOTHERAPY, 60 MINUTES WITH PATIENT   9659
2428        99213  OFFICE OR OTH OUTPATIENT VISIT FOR THE EVALUAT...   9283
2079        90834             PSYCHOTHERAPY, 45 MINUTES WITH PATIENT   7857
2078        90833  PSYCHOTHERAPY, 30 MINUTES WITH PATIENT WHEN PE...   6832
...           ...                                                ...    ...
1289         7913  APR-DRG: O.R. PROCEDURE FOR OTHER COMPLICATION...      1
1288         7912  APR-DRG: O.R. PROCEDURE FOR OTHER COMPLICATION...      1
2698        S9502  HOME INFUSION THERAPY, ANTIBIOTIC, ANTIVIRAL, ...      1
2695        S9490  HOME INFUSION THERAPY, CORTICOSTEROID INFUSION...      1
2692        S9367  HOME INFUSION THERAPY, TOTAL PARENTERAL NUTRIT...      1

[2708 rows x 3 columns]

drop obvious specialties

In [31]:
num_rows = df.shape[0]
print(f"Number of rows before filtering: {num_rows}")

df = df[~df['nppes_primary_specialty'].str.contains('psych', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('mental', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('nurse', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('student', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('gyne', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Pediatrics', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Ophthalmology', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Pediatrics', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Midwife', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Allergy', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Social', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Behavior', case=False, na=False)]
df = df[~df['nppes_primary_specialty'].str.contains('Social', case=False, na=False)]
num_rows = df.shape[0]
print(f"Number of rows after filtering: {num_rows}")

Number of rows before filtering: 509475
Number of rows after filtering: 482059

In [24]:
df.columns

Index(['rate_uuid', 'payer_uuid', 'organization_uuid', 'service_code',
       'service_description', 'billing_code_type', 'negotiated_rate',
       'billing_class', 'rate_type', 'service_codes', 'plan_details',
       'contract_period', 'provider_network', 'geographic_scope',
       'data_lineage', 'created_at', 'updated_at', 'quality_flags',
       'rate_npis', 'tin', 'organization_name', 'organization_type',
       'parent_system', 'npi_count', 'primary_specialty', 'is_facility',
       'headquarters_address', 'service_areas', 'created_at_org',
       'updated_at_org', 'data_quality_score', 'npi', 'nppes_provider_type',
       'nppes_primary_specialty', 'nppes_gender', 'nppes_addresses',
       'nppes_credentials', 'nppes_provider_name', 'nppes_enumeration_date',
       'nppes_last_updated', 'nppes_secondary_specialties', 'nppes_metadata',
       'nppes_city', 'nppes_state', 'nppes_zip', 'nppes_country',
       'nppes_street', 'nppes_phone', 'nppes_fax', 'nppes_address_type',
       'nppes_address_purpose', 'rate_category', 'service_category',
       'fact_key', 'nppes_address_city', 'nppes_address_country',
       'nppes_address_fax', 'nppes_address_phone', 'nppes_address_purpose',
       'nppes_address_state', 'nppes_address_street', 'nppes_address_type',
       'nppes_address_zip', 'nppes_provider_first', 'nppes_provider_last',
       'nppes_provider_middle', 'nppes_provider_suffix', 'payer_name',
       'zip5_key'],
      dtype='object')

review cpt x specialty

In [32]:
cpt_spec_count_df = df.groupby(['service_code', 'service_description', 'nppes_primary_specialty']).size().reset_index(name='count')

cpt_spec_count_df = cpt_spec_count_df.sort_values(by='count', ascending=False)

display(cpt_spec_count_df)

cpt_spec_count_df['status'] = ''  # Empty string or 'pass'/'fail' placeholders
cpt_spec_count_df.to_excel('cpt_specialty_review.xlsx', index=False)

,service_code,service_description,nppes_primary_specialty,count
1178,29530,STRAPPING; KNEE,Physical Therapist,2727
4652,73560,"RADIOLOGIC EXAMINATION, KNEE; 1 OR 2 VIEWS","Radiology, Diagnostic Radiology",2443
6442,77063,"SCREENING DIGITAL BREAST TOMOSYNTHESIS, BILATE...","Radiology, Diagnostic Radiology",2380
18373,97110,"THERAPEUTIC PROCEDURE, 1 OR MORE AREAS, EACH 1...",Physical Therapist,2352
18531,97530,"THERAPEUTIC ACTIVITIES, DIRECT (ONE-ON-ONE) PA...",Physical Therapist,2302
...,...,...,...,...
21731,T4533,"YOUTH SIZED DISPOSABLE INCONTINENCE PRODUCT, B...",Pedorthist,1
21749,T4537,"INCONTINENCE PRODUCT, PROTECTIVE UNDERPAD, REU...","Pharmacy, Long Term Care Pharmacy",1
21747,T4537,"INCONTINENCE PRODUCT, PROTECTIVE UNDERPAD, REU...",Pedorthist,1
21746,T4537,"INCONTINENCE PRODUCT, PROTECTIVE UNDERPAD, REU...","Durable Medical Equipment & Medical Supplies, ...",1
13,0241U,NFCT DS RNA 4 TARGETS UPPER RESPIRATORY SPECIMEN,"Internal Medicine, Cardiovascular Disease",1

PermissionError: [Errno 13] Permission denied: 'cpt_specialty_review.xlsx'

save sample to csv

save down trimmed final version

In [33]:
# your “master” DataFrame
merged_rates  # has dozens of columns, but you only want a subset

# define the columns you want to keep
target_cols = [
                
                'service_code',
                'service_description',
                'billing_code_type',
                'negotiated_rate',
                'billing_class',
                'rate_type',
                'service_codes',
                'contract_period',
                'tin',
                'organization_name',
                'primary_specialty',
                'npi',
                'nppes_provider_type',
                'nppes_primary_specialty',
                'nppes_gender',
                'nppes_addresses',
                'nppes_credentials',
                'nppes_provider_name',
                'service_category',
                'fact_key',
                'nppes_address_city',
                'nppes_address_country',
                'nppes_address_fax',
                'nppes_address_phone',
                'nppes_address_purpose',
                'nppes_address_state',
                'nppes_address_street',
                'nppes_address_type',
                'nppes_address_zip',
                'nppes_provider_first',
                'nppes_provider_last',
                'nppes_provider_middle',
                'payer_name',
                'zip5_key',
                'ZIP',
                'CBSA',
                'USPS_ZIP_PREF_CITY',
                'USPS_ZIP_PREF_STATE',
                'Metropolitan Division Code',
                'CSA Code',
                'CBSA Title',
                'Metropolitan/Micropolitan Statistical Area',
                'Metropolitan Division Title',
                'CSA Title',
                'County/County Equivalent',
                'State Name'

                
                ]

# create a new DataFrame with only those columns
final_merged = merged_rates[target_cols].copy()

# inspect it
final_merged.head()

,service_code,service_description,billing_code_type,negotiated_rate,billing_class,rate_type,service_codes,contract_period,tin,organization_name,...,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name
0,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],"{'effective_date': None, 'expiration_date': '9...",133757370,Organization-133757370,...,RARITAN,NJ,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Middlesex County,New Jersey
1,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],"{'effective_date': None, 'expiration_date': '9...",133757370,Organization-133757370,...,RARITAN,NJ,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Monmouth County,New Jersey
2,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],"{'effective_date': None, 'expiration_date': '9...",133757370,Organization-133757370,...,RARITAN,NJ,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Ocean County,New Jersey
3,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],"{'effective_date': None, 'expiration_date': '9...",133757370,Organization-133757370,...,RARITAN,NJ,29484.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Lakewood-New Brunswick, NJ","New York-Newark, NY-NJ-CT-PA",Somerset County,New Jersey
4,0202U,NFCT DS BCT/VIR RESPIR DNA/RNA 22 TRGT SARSCOV2,HCPCS,131.38,professional,negotiated,[81],"{'effective_date': None, 'expiration_date': '9...",133757370,Organization-133757370,...,RARITAN,NJ,35004.0,408.0,"New York-Newark-Jersey City, NY-NJ",Metropolitan Statistical Area,"Nassau County-Suffolk County, NY","New York-Newark, NY-NJ-CT-PA",Nassau County,New York

insert into lookup tool db

In [38]:
import sqlite3

# show which names are duplicated
dupes = final_merged.columns[final_merged.columns.duplicated()]
print("Duplicated columns:", dupes.tolist())

# keep only the first occurrence of each column name
final_unique = final_merged.loc[:, ~final_merged.columns.duplicated()]


# say df is your DataFrame
unique_df = final_unique.drop_duplicates(
    subset=['service_code','negotiated_rate','npi'],  # columns to consider
    keep='first',              # or 'last', whichever record you prefer
    inplace=False              # set True to modify df in place
)

# 1) Connect (this will create the file if it doesn't exist)
conn = sqlite3.connect(r"C:\Users\ChristopherCato\OneDrive - clarity-dx.com\code\bph\bph-lookup\compensation_rates.db")

# 2) Write the DataFrame to SQL
#    - if_exists: 'replace' will drop & recreate the table each time;
#                 use 'append' if you want to keep existing rows and add new ones.
#    - index=False prevents pandas from adding its index as a column.
final_unique.to_sql(
    name='commercial_rate',
    con=conn,
    if_exists='replace',
    index=False
)

# 3) Always good to close when you’re done
conn.close()

Duplicated columns: ['nppes_address_purpose', 'nppes_address_type']